@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #fff100;
  /* --brand: #06a452; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: var(--brand);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-weight: bold;
  font-size: 27px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.my-container {
  @apply max-w-[578px] md:max-w-[700px] lg:max-w-[1100px] xl:max-w-[1320px] m-auto md:px-4 sm:px-2 px-2
}
